.centar{
    justify-content: center;
}

.bs-example{
    margin: 20px;
         
}



.intro__button.primary-cta {
    background-color: #2cabe2;
    border-color: #2cabe2;
    color: #fff;
    padding: 10px 0;
}

.intro__button {
    margin: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.intro__divider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 1em;
    width: calc(600px/3);
}
